*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	/* align-items: center;
	justify-content: center; */
	height: 100vh;
    background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background-attachment: fixed;
}

html, body { height: 100%; }

.titulo {
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    height: 1400px;
    min-height: 80%;
    max-height: 250%;
    width: 800px;
    
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5%;
}

.container-table{
    background-color: white;
    height: 500px;
    width: 950px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.container-table button{
    justify-content: center;
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
	height: 40px;
	width: 85%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20px;
    width: 200px;
	background: transparent;
	color: #000;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	border: 2px solid #2980b9;
	transition: all .5s ease;
    margin-top: 20px;
}

.form-body button:hover{
	color: #d5dbdd;
	border: 2px solid #3498db;
	background: linear-gradient(#34495e, #2c3e50);
}

table {
    margin: 0 auto;
    margin-top: 1%;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

th, td{
    width: 5%;
    vertical-align: top;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 2px;
}
